# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log
